node_modules
# .env
dist/

# scrap scripts
scrap
*scrap
*scrap*
scrap.*

# local files
# *.local.env
# *.local.js
logs

bun.lock
.vscode/launch.json
worker/.env
config/external-auth-providers.json
.cache
.rollup.cache